<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef> Title </th>
    <td mat-cell *matCellDef="let element"> {{element.attributes.title}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="mag_type">
    <th mat-header-cell *matHeaderCellDef> Mag Type </th>
    <td mat-cell *matCellDef="let element"> {{element.attributes.mag_type}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="magnitude">
    <th mat-header-cell *matHeaderCellDef> Magnitude </th>
    <td mat-cell *matCellDef="let element"> {{element.attributes.magnitude}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Actions </th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button (click)="openDialog(element.id)">Comments</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div>
  <pagination-controls (pageChange)="loadData($event)" ></pagination-controls>
</div>

<b><span>Per Page: </span></b>
<mat-form-field>
  <mat-label>Per Page</mat-label>
  <input matInput type="number" [(ngModel)]="itemsPerPage" (change)="loadData()">
</mat-form-field>

<b><span>Mag Type: </span></b>
<mat-form-field>
  <mat-label>Mag Type</mat-label>
  <input matInput type="text" [(ngModel)]="magType" (change)="loadData()">
</mat-form-field>

<!-- <p>Total de elementos: {{ totalItems }}</p> -->

<!-- <div *ngFor="let item of data"> -->
  <!-- Aquí va la representación de cada elemento -->
<!-- </div> -->
<li *ngFor="let item of collection | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage, totalItems: collection.count }" style="display: none;"></li>

